.lead {
	text-align: center;
	padding: 20px 0 0;
	h1 {
		font-size:52px;
		margin-bottom:12px;
	}
	.leadText {
		font-size:28px;
	}
}

#mainContainer {
	.login {
		margin: 0 auto;
		width: 300px;
		input {
		margin-bottom:15px;
		}
	}
}
.tasks {
  max-width: 500px;
  min-width: 320px;
  display: block;
  margin: 0 auto;
}

.tasksList {
  display: block;
  margin: 0 auto;
}

.taskForm {
  margin: 25px 0;
}