.lead {
  text-align: center;
  padding: 20px 0;
  h1 {
    font-size: 52px;
    margin-bottom: 12px;
  }
  .leadText {
    font-size: 28px;
  }
}

#mainContainer {
  .login {
    margin: 0 auto;
    width: 300px;
    input {
      margin-bottom: 15px;
    }
  }
}

.tasks {
  max-width: 500px;
  min-width: 320px;
  display: block;
  margin: 0 auto;
}

.tasksList {
  display: block;
  margin: 0 auto;
}

.taskForm {
  margin: 25px 0;
}

.task {
  .taskId {
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
  }
  .taskDescription {
    display: inline-block;
    max-width: 330px;
    padding-top: 2px;
  }
}

.taskPick {
  margin:10px 0 30px;
}

.pickTask, .taskDone, .removeTask {
  border-radius: 2px;
  cursor: pointer;
  padding: 4px 6px;
  margin-top:3px;
}
.pickTask, .taskDone:hover, .removeTask:hover {
  background: #3276b1;
}