<script type="x-handlebars-template" id="Tasks">
    <div class="tasks">
    </div>
</script>

<script type="x-handlebars-template" id="TasksListTemplate">
    <ul class="tasksList list-group">
    </ul>
</script>

<script type="x-handlebars-template" id="TaskTemplate">
    <li data-taskId="{{id}}" class="task list-group-item">
        <span class="taskId">#{{id}}</span>
        <span class="taskDescription">{{content}}</span>
        <span data-taskId="{{id}}" class="badge removeTask">Remove</span>
    </li>

</script>

<script type="x-handlebars-template" id="TaskForm">
    <form action="#" class="taskForm input-group">
       <input class="form-control" type="text" name="content" />
       <span class="input-group-btn">
            <button class="btn btn-default" type="button">Send</button>
       </span>
    </form>
</script>