<div class="lead">
  <h1>DOP-do</h1>
  <p class="leadText">Login to the system</p>
</div>
<div class="login">
  <form class="form-signin" role="form">
    <input class="form-control email" name="email" type="email" placeholder="Email address" />
    <input class="form-control password" name="password" type="password" placeholder="Password" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>